@using Traveler.Helper
<div class="content">
    <div class="row">
        <br />
        <h3 style="padding-left:200px;padding-top:25px">Selamat Datang Admin</h3><b>@User.GetUsername()</b>
    </div>
</div>